*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: hsl(196, 78%, 61%);
}

body {
  background: #cdcdcd;
  min-height: 100vh;
  overflow: hidden;
  font-family: "Vazirmatn", "Yekan", sans-serif !important;
  direction: rtl !important;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
input {
  direction: rtl !important;
}
main {
  width: 90vw;
  margin: 0 auto;
  max-width: 35rem;
  margin-top: 8rem;
  background: #222;
  color: #eee;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 2rem;
}

.alert {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  border-radius: 0.25rem;
  font-size: 0.7rem;
  text-align: center;
  font-weight: bold;
}

.alert-danger {
  color: #c0111f;
  background-color: #f78d96;
}

.alert-success {
  color: #0daa61;
  background-color: #bce5d3;
}

.title {
  text-align: center;
  margin-bottom: 0.7rem;
}

.control {
  display: flex;
  justify-content: center;
}

#entry {
  outline: none;
  border: 1px solid #eee;
  background: #222;
  color: #eee;
  border-radius: 0.5rem 0.5rem;
  font-size: 1rem;
  padding: 0.3rem 0.7rem;
  flex: 1;
  font-family: "Vazirmatn", "Yekan", sans-serif;
}

.btn {
  font-family: "Vazirmatn", "Yekan", sans-serif;
  font-weight: bold;
}

.submit-btn,
.cancel-btn {
  outline: none;
  border: 1px solid #eee;
  background-color: #222;
  color: #eee;
  font-size: 0.9rem;
  padding: 0.3rem 0.7rem;
  flex: 0 0 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  margin: auto 5px;
  border-radius: 1rem;
}

.submit-btn:hover,
.cancel-btn:hover {
  background-color: #eee;
  color: #222;
}

.bottom {
  margin-top: 2rem;
  transition: all 0.3s linear;
}

.list-item {
  border-bottom: 1px solid #eee;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.9rem 0.5rem 0.4rem;
}

.list-item:hover i.fas {
  opacity: 1;
}

.text {
  width: 80%;
}

.done {
  text-decoration: line-through;
}

i.fas {
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s linear;
}

i.fas.fa-edit:hover {
  color: #43c1fc;
}

i.fas.fa-trash-alt:hover {
  color: #ec3948;
}

i.fas.fa-check:hover {
  color: #39ec99;
}

.clear-btn {
  border: none;
  outline: none;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  padding: 0.3rem 0.7rem;
  cursor: pointer;
  color: #c0111f;
  background-color: #f78d96;
  width: 10rem;
  display: block;
  margin: 1.2rem auto 0;
}

/* JS CLASSES*/
.v-none {
  visibility: hidden;
}

.d-none {
  display: none !important;
}

.d-show {
  display: block !important;
}

#todo,
#login {
  display: none;
}

/* Login Form */

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 40px;
  color: white;
  font-size: 16px;
  background-color: #222;
  border-radius: 1rem;
}

.login-form h1 {
  margin: 0 0 24px 0;
}

.login-form .form-input-material {
  margin: 12px 0;
}

.login-form .btn {
  width: 50%;
  margin: 18px 0 9px 0;
  padding: 8px 20px;
  position: relative;
  border-radius: 0;
}

.login-form input {
  color: white;
}

.login-form button,
.login-form input {
  font: inherit;
  outline: none;
  cursor: pointer;
}

.swich1,
.swich2 {
  cursor: pointer;
}
.swich1:hover,
.swich2:hover {
  cursor: pointer;
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
}

.form-input-material {
  --input-border-bottom-color: white;
  position: relative;
  border-bottom: 1px solid var(--input-border-bottom-color);
}

.form-input-material::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  transform: scaleX(0);
  transform-origin: center;
  transition: 0.5s;
}

.form-input-material:focus-within::before {
  transform: scaleX(1);
}

.form-input-material .form-control-material {
  padding: 0.5rem 0;
  background: none;
  border: none;
}

.form-input-material .form-control-material:focus ~ label,
.form-input-material .form-control-material:not(:placeholder-shown) ~ label {
  transform: translateY(-110%) scale(0.8);
  color: var(--primary-color);
}

.form-input-material label {
  position: absolute;
  top: 0.5rem;
  right: 0;
  transition: 0.3s;
  transform-origin: left;
}

.btn-ghost {
  --btn-color: var(--primary-color);
  --btn-border-color: var(--primary-color);
  background: none;
  transition: 0.3s;
  overflow: hidden;
  color: var(--btn-color);
  border: 1px solid var(--btn-border-color);
}

.btn-ghost::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    var(--primary-color),
    transparent
  );
  transform: translateX(-100%);
  transition: 0.6s;
}

.btn-ghost:hover {
  box-shadow: 0 0 20px 5px rgba(51, 152, 219, 0.5);
}

.btn-ghost:hover::before {
  transform: translateX(100%);
}
